.about-container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col h1 {
  color: orange;
}
.about-col img {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.about-col h1 {
  padding: 0;
}

.about-col p {
  padding: 15px 0 25px;
}
